/* Common */
body{background:#222 none repeat scroll 0 0;color:#666;font-family:Helvetica;font-size:72%;line-height:1.5em;border-top:1px solid #393939;margin:0;}
.clear{clear:both;}

/* start */
.theme{padding-top:3px;}
.theme > h1,.theme > h2,.theme > p{margin:1em 0 .5em 13px;}
.theme > h1{color:#eee;font-size:1.6em;text-align:center;margin:15px 0 0;padding:0;}
.theme > h2{clear:both;font-size:1.1em;text-align:center;margin:0;padding:3px;}
.theme .online{display:inline-block;width:20px;height:20px;background:#F0A0C6;border-radius:10px;-webkit-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff;}
.theme .online.def{background:#3FBF9F;}
.theme .list{width:320px;margin:auto;}
.theme a.btn,input{display:block;float:left;border:1px solid #555;-webkit-border-radius:5px;border-radius:5px;background:#444;width:150px;height:50px;color:#9ab;font-size:2em;line-height:50px;text-align:center;text-decoration:none;margin:3px 0 3px 5px;}
.theme a.btn.large,input{width:308px;}
.theme a.btn span{font-size: 18px; font-weight: bold;padding-left: 10px;}
#no{font-family:Helvetica;color:#3AE2CE;line-height: normal;}
.error{padding-top: 11px;color: #CC4444;font-size: 19px;text-align: center;}
.error.info{color:#724FA0;}