/* common */
body{background-color:#333;color:#333;}
input,textarea{color:#333}
.hide{display:none}
body.x-desktop{font-size:163%}
/* userfield */
.x-more-icon{position:absolute;display:none;top:0;right:0;width:1.4em;height:2.2em;color:#999;text-align:center;-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg)}
.more-able{padding-right:2.2em}
.more-able .x-more-icon{display:block}
.user-list{position:absolute;width:100%;max-height:340px;overflow:auto;background-color:#F1F1F1;border-left:1px solid #ddd;border-right:1px solid #ddd;z-index:2;}
.user-list .user-item{position:relative;height:68px;line-height:68px;padding-left:.3em;border-bottom:1px solid #ddd;text-align:left;}
.user-list .user-item .clear-icon{display:block;position:absolute;top:0;right:0.3em;font-family: "Pictos";font-size:1.4em;color:#D9D9D9}
.user-list .user-item .clear-icon:before{content:"D";}
.x-form-fieldset .x-form-fieldset-inner{overflow:visible;}/*override*/
.x-field-input .x-clear-icon{background:none;width:60px;line-height:2.2em;font-family: "Pictos";font-size:1.4em;color:#D9D9D9}/*override*/
.x-field-input .x-clear-icon:before{content:"D";}/*override*/

.card1,.card2,.card3,.card4,.user{font-size:14px}
.card2 .x-toolbar,.card3 .x-toolbar{font-size:1.3em;}
.x-phone .card1,.x-phone .card2,.x-phone .card3,.x-phone .card4,.x-phone .user{/*font-size:36px*/}
.card1,.card2,.card3,.card4,.user,.card6{text-shadow:rgba(255,255,255,0.2) 0 1px 0;text-align:center;}
h1{font-weight:bold}
.card1{background-color:#eee}
.card2{background-color:#5E99CC}
.card3{background-color:#759E60}
.card4{background-color:#9C744F}
.user{background-color:#926D9C}
.card6{background-color:#5E99CC}

/* @class  */
.schedule-icon,.card-icon,.score-icon,.talk-icon,.user-icon{position: absolute;  top: 0;  right: 0;  bottom: 0;  left: 0;  text-align: center;  font-family: "Pictos";}
.x-tab .x-button-icon.user-icon:before{content: "U";}
.x-tab .x-button-icon.talk-icon:before{content: "q";}
.x-tab .x-button-icon.score-icon:before{content: "N";}
.x-tab .x-button-icon.card-icon:before{content: "r";}
.x-tab .x-button-icon.schedule-icon:before{content: "l";}

/* override */
.x-tabbar-inner .x-tab.x-tab-icon .x-button-label{font-size:1em;line-height: 15px;}
.x-tabbar.x-docked-bottom{height:90px}
.x-tab{width:113px;}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon{font-size:2.1em}
.x-toolbar .x-button .x-button-label, .x-toolbar .x-button .x-badge{font-size: 1em;}

/* schedule */
.schedule_grid{width:100%}
.schedule_grid thead{font-weight:bolder}
.schedule_grid th{width:18px;text-align:center}
.schedule_grid thead tr{height:22px;
	background: #ddeef0;background: -moz-linear-gradient(top, #ddeef0 0%, #c2e1e4 85%, #c3e1e4 90%, #d7eaee 100%);
	background: -webkit-gradient(linear,center top,center bottom, from(#ddeef0),color-stop(85%,#c2e1e4),color-stop(90%,#c3e1e4),to(#d7eaee));
	background: -webkit-linear-gradient(top, #ddeef0 0%,#c2e1e4 85%,#c3e1e4 90%,#d7eaee 100%);
	color:#71AED7}
.schedule_grid tbody tr{height:48px;color:#333;}
.schedule_grid tbody tr th,.schedule_grid tbody tr td{border:1px solid #ccc;}
.schedule_grid tbody tr td{vertical-align: top;}
.schedule_grid .courseWrap{position:absolute;margin:2px;}
.schedule_grid .course{display:table-cell;padding:0 7px;border-radius:5px;vertical-align: middle;color:#eee;}

/* card */
.card-total .x-innerhtml {padding:30px;font-size: 3em;}
.card-detail-lbl{line-height: 100px;}
.card-detail-block{width:330px;margin:9px auto;padding:8px 12px;border:1px solid #aaa;font-size:1.4em;line-height:1.4em;text-align:left;color:#797979}
.card-detail-block .jye{position: absolute;color:#333;}
.card-detail-block .kye{text-align:right}
.date .x-button-label{padding-right:50px;}
.date-month{display:inline-block;font-size: 1.5em;line-height: 1.1em;color:#777;font-weight: 500;}
.date-day{position: absolute;display:inline-block;margin-left:10px;font-size: 2.6em;line-height: 1.3em;color:#777;font-weight: 500;}
.x-button .x-button-icon.search{font-size:2em;}

/* score */
.score-list{text-align:left;}
.score-lbl{display: inline-block;width:60%;padding-right:5%;text-align:right}
#score-list.list-hidden .x-list-inner>.x-container{display:none;}
.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl{background:none;
box-shadow: inset 0 0 0 2px #0aace5;-moz-box-shadow: inset 0 0 0 2px #0aace5;-webkit-box-shadow: inset 0 0 0 2px #0aace5;
border-top-color:transparent;color:#333;}/*override*/

/* user */
.user{font-size:1em;}
.user .x-form-fieldset{margin:2em 0.5em 0.5em 0.5em;min-height: 7em;}
.user .x-form-fieldset-instructions{margin: 0.3em;color:#00FF7F;}
.user .x-input-el{background-color:transparent}
.user .x-input-password:focus{outline:none}
.user .logout{margin: 0.6em 0.3em}
.user .login-lbl{color:#999}
